body {
    margin: 0px;
}

h1 {
    text-align: center;
}

table, th, td {
    border: none;
    border-collapse: collapse;
    padding: 2px 8px;
    white-space: nowrap;
}

th {
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 3px double;
}

td {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.dashed-btm {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px dashed !important;
}

.none-btm-left {
    border-left: none;
    border-bottom: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bg-title {
    background-color : white;
}

.body {
    background-color : whitesmoke;
}

.container {
    background-color : white;
    box-shadow: 0 0 8px lightgray;
    width: 720px;
    padding: 20px;
    margin: 0 auto;
}

.text-input {
    resize: none;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.5em;
    font: 14px/18px sans-serif;
    letter-spacing: 1px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
}

#table {
    display: inline-block;
    padding: 20px 20px;
}